#!/usr/bin/make -f
#export DH_VERBOSE=1

CFLAGS:= $(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
LDFLAGS:= $(shell dpkg-buildflags --get LDFLAGS)

build:

build-indep:

build-arch:
	dh_testdir
	dh_prep

	$(MAKE) debian CFLAGS="${CFLAGS}" LDFLAGS="${LDFLAGS}"

binary: binary-indep binary-arch

binary-indep: build-indep

binary-arch: build-arch
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs README.md
	dh_install bk usr/sbin/
#	dh_installman
	dh_strip
	dh_compress
#	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	dh_testroot

	-$(MAKE) clean

	dh_clean 

.PHONY: build build-indep build-arch binary binary-indep binary-arch clean
